server:
  port: 8085

spring:
  application:
    name: delivery-service
  datasource:
    url: jdbc:postgresql://localhost:5432/micro_takeout?currentSchema=delivery_service
    username: postgres
    password: 020711
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    schemas: delivery_service
    baseline-on-migrate: true
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 3000
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: delivery-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    com.microtakeout.delivery: DEBUG

