server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config
        git:
          uri: ${CONFIG_GIT_URI:file:///./config-repo}
          default-label: main
          clone-on-start: true
          force-pull: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh

